@model IEnumerable<QuizWebApp.Models.Reponse>

@{
    ViewBag.Title = "Resultat";
    var countQuestion = Model.Count();
    var countQuestionCorrect = Model.Count(x => x.isCorrect);
    var score = ((double)countQuestionCorrect / countQuestion) * 100.0;
    var percentage = Convert.ToInt32(Math.Round(score, 0));

}

<h2>Resultat</h2>

countQuestion : @countQuestion
<br />

countQuestionCorrect : @countQuestionCorrect
<br />

score : @percentage %
<br />

@foreach (var item in Model.Select((value, i) => new { i, value }))
{

    <h2>Question @(item.i+1)</h2>
    <span> - @item.value.Question.QuestionDescription </span> <span>:</span>
    <br />
    if (item.value.Question.QuestionType == QuizWebApp.Models.QuestionType.FillInBlank)
    {
        <span> @item.value.Question.FillInBlank  </span>

        foreach (var Choice in item.value.Question.Choices.GroupBy(x => x.GroupBy))
        {
            <br />

            <span>@Choice.Key</span>
            <ul>
                @foreach (var chid in Choice)
                {
                    <li>
                        <label>@chid.ChoiceText</label>
                        @if (item.value.reponseId.Split(',').Contains(chid.Id.ToString()))
                        {
                            <i class="fas fa-dot-circle"></i>
                        }

                    </li>
                }
            </ul>

        }

    }
    else
    {
        <ul>
            @foreach (var Choice in item.value.Question.Choices)
            {
                <li>
                    <span> @Choice.ChoiceText </span>
                    @if (item.value.reponseId.Contains(','))
                    {
                        if (item.value.reponseId.Split(',').Contains(Choice.Id.ToString()))
                        {
                            <i class="fas fa-dot-circle"></i>
                        }
                    }
                    else
                    {
                        if (int.Parse(item.value.reponseId) == Choice.Id)
                        {
                            <i class="fas fa-dot-circle"></i>
                        }
                    }
                </li>
            }
        </ul>
        <hr />
    }
}
