@model QuizWebApp.Models.Exam

@{
    ViewBag.Title = "Details";
}

@section Navigation{

    <li class="nav-item navbar-list__item">
        <a href="@Url.Action( "Index", "Exams")"
           class="nav-link">
            Back to List
        </a>
    </li>

    <li class="nav-item navbar-list__item">
        <a href="@Url.Action( "Index", "Questions", new { ExamId = Model.Id })"
           class="nav-link">
            Questions
        </a>
    </li>
    <li class="nav-item navbar-list__item">
        <a href="@Url.Action( "Index", "Skills", new { ExamId = Model.Id })"
           class="nav-link">
            Skills
        </a>
    </li>

}

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>